models/premises/**/*.safetensors filter=lfs diff=lfs merge=lfs -text
models/premises/**/*.bin filter=lfs diff=lfs merge=lfs -text
models/**/*.pt filter=lfs diff=lfs merge=lfs -text
models/**/*.pth filter=lfs diff=lfs merge=lfs -text
